// ----------------------------------------
// Settings
// ----------------------------------------

// Colors
$light: #eee;
$dark: #111;
$primary: #900;

// Widths
$tablet-height: 1024px;
$tablet-width: 768px;
$phone-height: 480px;
$phone-width: 320px;

